/* -------------------------------------------------- */
:root {

  font-size: 100%;

  /* --media_width:769px; */
  --darkblue: #052AC2;
  --middleblue: #2F5CFF;
  --lightblue: #4C7EFF;

}

/* -------------------------------------------------- */
.main_frame {
  display: flex;
}

/* -------------------------------------------------- */
.nav {
  width: 100px;
  /* height: 100vh; */
  min-height: 100vh;
  background-color: var(--lightblue);
  font-size: 0.9rem;
}
.site_title {
  text-decoration: none;
  height: 50px;
  line-height: 50px;
}
.title {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.nav_title {
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: white;
}
.nav_content {
  margin-top: 50px;
  text-align: center;
  line-height: 2rem;
}
.nav_content_title{
  color: white;
}
.nav_content_item {
  text-decoration: none;
  color: white;
  background: none;
  border: none;
}
.nav_content_item:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* -------------------------------------------------- */



/* -------------------------------------------------- */
.content_frame {
  width: 95vw;
  /* height: 100vh; */
  min-height: 100vh;
  /* background-color: beige; */
  background-color: #e0f0f0;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* columns: 10 auto; */
}

/*ラジオボタンを全て消す*/
.tabs input[name="tab_item"] {
  display: none;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
  border-bottom: 3px solid var(--middleblue);
  opacity: 0.75;
  color: black;
  font-weight: bold;
}

/*タブのスタイル*/
.tab_item {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 60px;
  background-color: #ececec;
  border-bottom: 3px solid #d9d9d9;
  font-size: 1rem;
  text-align: center;
  color: #565656;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tab_item:hover {
  border-bottom: 3px solid var(--middleblue);
  opacity: 0.75;
  font-weight: bold;
}

/* -------------------------------------------------- */
.tab_content {
  /* grid-column: 1 / 11; */
  background-color: #e0f0f0;
}

.tab_content_gide {
  line-height: 1.8rem;
  padding: 20px;
}



/* -------------------------------------------------- */
.tbl-head {
  align-items: center;
  height: 4rem;
  background-color: var(--middleblue);
  color: white;
  column-gap: 5px;
}

.tbl-odd {
  align-items: center;
  height: 3.5rem;
  background-color: #dde6ff;
  font-size: 1em;
  column-gap: 5px;
  margin-right: 5px;
  border: 1px solid #dde6ff;
}

.tbl-even {
  align-items: center;
  height: 3.5rem;
  background-color: #c4d4fe;
  font-size: 1em;
  column-gap: 5px;
  margin-right: 5px;
  border: 1px solid #c4d4fe;
}

.tbl-newitem {
  align-items: center;
  height: 3.5rem;
  background-color: beige;
  font-size: 1em;
  column-gap: 5px;
  margin-right: 5px;
  border: 1px solid #a6fbc4;
}

.tbl-odd input,
.tbl-even input,
.tbl-newitem input {
  width: 98%;
  font-size: 1rem;
}

/* -------------------------------------------------- */
:root {
  --check: 24px;
  --id: 36px;

  --ownerid: 48px;
  --userid: 48px;
  --shopid: 48px;
  --areaid: 48px;
  --genreid: 48px;
  --reserveid: 48px;

  --ownername: 156px;
  --username: 156px;
  --shopname: 156px;
  --areaname: 204px;
  --genrename: 180px;

  --email: 20fr;
  --password: 12fr;

  --comment: 20fr;
  --image: 120px;
  --likecount: 48px;
  --reservenum: 60px;
  --evaluation: 10rem;

  --reserved: 240px;
  --created: 180px;
  --modify: 48px;
  --delete: 48px;
  --emailsend: 96px;
  --detail: 84px;

  --dummy: 5fr;
  --dummyend:10px;
}

.tbl-owner {
  display: grid;
  grid-template-columns: var(--check) var(--id) minmax(var(--ownername),5fr) var(--email) var(--emailsend) var(--password) minmax(var(--shopname),5fr) var(--detail) var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id userid ownername email emailsend password shopname detail created modify delete dummyend;
}

.tbl-user {
  display: grid;
  grid-template-columns: var(--check) var(--id) minmax(var(--username),5fr) var(--email) var(--emailsend) var(--password) var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id username email emailsend password created modify delete dummyend;
}

.tbl-shop {
  display: grid;
  grid-template-columns: var(--check) var(--id) minmax(var(--shopname),5fr) var(--areaname) var(--genrename) var(--comment) var(--image) var(--likecount) var(--detail) var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id shopname areaname genrename comment image likecount detail created modify delete dummyend;
}

.tbl-area {
  display: grid;
  grid-template-columns: var(--check) var(--id) var(--areaname) 1fr var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id areaname dummy created modify delete dummyend;
}

.tbl-genre {
  display: grid;
  grid-template-columns: var(--check) var(--id) var(--genrename) 1fr var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id genrename dummy created modify delete dummyend;
}

.tbl-reserve {
  display: grid;
  grid-template-columns: var(--check) var(--id) minmax(var(--username),5fr) var(--email) var(--emailsend) minmax(var(--shopname), 5fr) minmax(var(--reserved),7fr) var(--reservenum) var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id username emailsend shopname reserved reservenum created modify delete dummyend;
}

.tbl-like {
  display: grid;
  grid-template-columns: var(--check) var(--id) minmax(var(--username),5fr) minmax(var(--shopname), 5fr) var(--dummy) var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id username shopname dummy created modify delete dummyend;
}

.tbl-comment {
  display: grid;
  grid-template-columns: var(--check) var(--id) minmax(var(--username),5fr) minmax(var(--shopname), 5fr) var(--evaluation) var(--comment) var(--created) var(--modify) var(--delete) var(--dummyend);
  grid-template-areas: check id username shopname evaluation comment created modify delete dummyend;
}

/* -------------------------------------------------- */
.inputbox {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  /* appearance: none; */
  /* outline: none; */
}
.selectbox {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}
.inputdate{
  height: 20px;
}
/* -------------------------------------------------- */
.btn {
  text-align: center;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

/* -------------------------------------------------- */
.btn-search {
  border: 1px solid black;
  color: black;
  padding: 2px 15px;
  margin: 0 10px;
}

.btn-search:hover {
  background-color: black;
  border-color: black;
  color: #fff;
}

/* -------------------------------------------------- */
.btn-modify {
  border: 1px solid var(--middleblue);
  color: var(--middleblue);
}

.btn-modify:hover {
  background-color: var(--middleblue);
  border-color: var(--middleblue);
  color: #fff;
}

/* -------------------------------------------------- */
.btn-delete {
  border: 1px solid #ff3c3c;
  color: #ff3c3c;
}

.btn-delete:hover {
  background-color: #ff3c3c;
  border-color: #ff3c3c;
  color: #fff;
}

/* -------------------------------------------------- */
.btn-mailsend {
  border: 1px solid gray;
  color: black;
}

.btn-mailsend:hover {
  background-color: gray;
  border-color: black;
  color: #fff;
}

/* -------------------------------------------------- */
.btn-detail {
  border: 1px solid gray;
  color: black;
}

.btn-detail:hover {
  background-color: gray;
  border-color: black;
  color: #fff;
}
/* -------------------------------------------------- */
.btn-cancel {
  border: 1px solid gray;
  color: black;
}

.btn-cancel:hover {
  background-color: gray;
  border-color: black;
  color: #fff;
}
/* -------------------------------------------------- */
.serchinput {
  line-height: 1.2rem;
  height: 1.5rem;
  border-radius: 5px;
}

.searchlabel {
  margin: 0 10px;
}
.item-center{
  text-align: center;
}
.item-reserved{
  display: flex;
}
.hr{
  display: block;
  width: 11rem;
  height: 3px;
  border-top: 1px solid black;
}
#content0{
  padding: 50px;
}

.my_star {
  border: 0px;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 -4px;
  background-image: url(/image/star_off.png);
  background-size: contain;
  background-color: white;
}
.star_on {
  background-image: url(/image/star_on.png);
}
/* -------------------------------------------------- */
/* ページネーション */
/* -------------------------------------------------- */
.page_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination .page-item {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  border: 1px solid gray;
}
.pagination .active {
  background-color: var(--middleblue);
  color: white;
}
@media(max-width:769px) {
  .page_info {
    display: block;
  }
}




/* -------------------------------------------------- */
/* メッセージボックス */
/* -------------------------------------------------- */
.message_box {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  width: 35vw;
  height: auto;
  margin: 100px auto;
  padding: 0 0 40px 0;
  text-align: center;
  box-shadow: 2px 2px 4px 2px gray;
  background-color: white;
}
.message_title {
  background-color: var(--middleblue);
  color: white;
  margin-left: -1px;
  width: 100.5%;
  border-radius: 5px 5px 0 0;
  height: 3.5rem;
  margin-bottom: 30px;
}
.message_box p {
  line-height: 3.5rem;
  font-size: 1.1rem;
  text-align: left;
  padding-left: 20px;
}
.message_box button {
  margin: 0 50px;
}





/* バリデーションエラー */
.error_disp {
  color: red;
  text-align: center;
}

/* バリデーションエラー(タグ) */
.has-error {
  border-color: red;
  background-color: rgb(253, 152, 152);
}